body {
  padding: 5%;
  background-color: ghostwhite;
  margin: 0;
  font-family: 'Segoe UI';
}

@media only screen and (max-width: 600px) {
  #profileBasicInfo {
    text-align: center;
  }

  p {
    font-size: larger;
  }
}

img {
  width: 150px;
}

hr {
  border: none;
  height: 1px;
  background-color: lightgray;
  margin-top: 50px;
  margin-bottom: 50px;
} 

a {
  text-decoration: none;
  color: cornflowerblue;
}

#resume {
  display: flex;
  flex-direction: column;a
  gap: 20px;
}